 /*
 * Copyright (c) 2023 ZitaoTech
 * SPDX-License-Identifier: MIT
 * 
 * Derived from:
 * https://github.com/ZitaoTech/zmk_config_Q10/blob/main/config/bbq10.keymap
 * https://github.com/Drexel-Macintosh/BlueBerry_Q10/blob/main/config/bbq10.keymap
 * https://github.com/moni11811/zmk-config_9900/blob/main/config/bb9900.keymap
 */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/ext_power.h>
 
#define NUM 1
#define ALT 2
#define NAV 3
#define SYM 4


// Standard Behavior Configuration:
&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
};
&sk{
    release-after-ms = <2500>;
};
&sl {
    release-after-ms = <2500>;
};


/ {
    combos {
        compatible = "zmk,combos";

        // combo to enter the SYM layer for BT settings, press Mic and Sym together
        // 0..41 keys, Mic is 38 and Sym is 40
        combo_sym {
            timeout-ms = <50>;
            key-positions = <38 40>;
            bindings = <&to SYM>;
            require-prior-idle-ms = <500>;
        };
    };
    

    behaviors {
        SHFT: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <500>;
            bindings = <&sk LSHFT>, <&kp CLCK>;
        };

        NUML: tap_dance_numl {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <500>;
            bindings = <&sl NUM>, <&to NUM>;
        };

        ALTL: tap_dance_altl {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&sl ALT>, <&to ALT>;
        };

        NAVL: tap_dance_navl {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&sl NAV>, <&to NAV>;
        };

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <500>;
            bindings = <&out &kp>;
        };
    };
    

    macros {
        // Pound Sterling (£) sign for Linux: ctrl+shift+u a 3 [enter]
        sterling: sterling {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp U>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp A &kp N3 &kp ENTER> 
                ;
        };

        
        // Bluetooth macros to enable only one active BT pairing and turn off the rest
        bt0: bt0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0 &bt BT_DISC 1 &bt BT_DISC 2 &bt BT_DISC 3 &bt BT_DISC 4>;
        };
        bt1: bt1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1 &bt BT_DISC 0 &bt BT_DISC 2 &bt BT_DISC 3 &bt BT_DISC 4>;
        };
        bt2: bt2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2 &bt BT_DISC 0 &bt BT_DISC 1 &bt BT_DISC 3 &bt BT_DISC 4>;
        };
        bt3: bt3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3 &bt BT_DISC 0 &bt BT_DISC 1 &bt BT_DISC 2 &bt BT_DISC 4>;
        };
    };


    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <

        /*
         *    KEYBOARD LAYOUT - ASCII by KyleBing
         *
                              ---------------------                                                                -------------------------
                             |    Shoulder Key1    |                                                              |      Shoulder Key2      |
                 ---------------------------------------------------------------------------------------------------------------------------------------------------
                |        Call key        |   Blackberry Key    |              Trackpad            |             Back Key           |          Endcall Key           |
                -----------------------------------------------------------------------------------------------------------------------------------------------------
                |     Q      |     W     |     E    |     R    |         T       |       Y        |        U       |       I       |        O        |      P       |
                -----------------------------------------------------------------------------------------------------------------------------------------------------
                |     A      |     S     |     D    |     F    |         G       |       H        |        J       |       K       |        L        |  Backspace   |
                -----------------------------------------------------------------------------------------------------------------------------------------------------
                 \    alt    |     Z     |     X    |     C    |         V       |       B        |        N       |       M       |        $        |    Enter    /
                   -----------------------------------------------------------------------------------------------------------------------------------------------
                              \      aA        |       0        |                    SPACE                  |          SYM          |         aA    /
                                -------------------------------------------------------------------------------------------------------------------
        */
                                        &mkp LCLK                                                       &mkp RCLK
		                    &sk  LCTRL          &sk LGUI            &mkp LCLK               &kp ESC             &kp TAB

                &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y       &kp U       &kp I       &kp O       &kp P
                &kp A       &kp S       &kp D       &kp F       &kp G       &kp H       &kp J       &kp K       &kp L       &kp BSPC
                &ALTL       &kp Z       &kp X       &kp C       &kp V       &kp B       &kp N       &kp M       &kp DLLR    &kp RET

                            &SHFT       &NUML                          &kp SPACE                    &NAVL       &SHFT

            >;
        };
        

        num_layer {
            bindings = <        
                                        &sk LALT                                                       &mkp RCLK
		                    &sk  LCTRL          &sk LGUI            &mkp LCLK              &kp ESC              &kp TAB

                &kp HASH    &kp N1      &kp N2      &kp N3      &kp LPAR    &kp RPAR    &kp UNDER   &kp MINUS   &kp PLUS    &kp AT
                &kp STAR    &kp N4      &kp N5      &kp N6      &kp SLASH   &kp COLON   &kp SEMI    &kp APOS    &kp DQT     &kp BSPC
                &ALTL       &kp N7      &kp N8      &kp N9      &kp QMARK   &kp EXCL    &kp COMMA   &kp DOT     &sterling   &kp RET

                            &to 0       &kp N0                         &kp SPACE                    &NAVL       &SHFT

            >;
        };

        
        alt_layer {
            bindings = <
                                        &sk LALT                                                        &mkp RCLK
		                    &sk  LCTRL          &sk LGUI            &mkp LCLK               &kp ESC             &kp TAB

                &kp HOME    &kp UP      &kp END     &kp INS     &kp LBRC    &kp RBRC    &kp LBKT    &kp RBKT    &kp LT      &kp GT       
                &kp LEFT    &kp DOWN    &kp RIGHT   &kp DEL     &kp BSLH    &kp PIPE    &kp TILDE   &kp GRAVE   &kp EQUAL   &kp BSPC
                &to 0       &kp PG_UP   &kp PG_DN   &none       &none       &none       &kp CARET   &kp AMPS    &kp PRCNT   &kp RET

                            &to 0       &NUML                          &kp SPACE                    &NAVL       &SHFT
            >;
        };

        
        nav_layer {
            bindings = <
                                        &sk LALT                                                        &mkp RCLK
                            &kp ESC             &sk LGUI            &mkp LCLK               &kp LC(LSHFT)       &kp LCTRL

                &kp HOME   &kp UP      &kp END       &kp PG_UP     &kp LC(T)     &kp LC(LS(T))     &kp LC(W)     &kp LC(LS(TAB))     &kp LC(TAB)     &kp DEL
                &kp LEFT   &kp DOWN    &kp RIGHT     &kp PG_DN     &none         &kp LA(LS(TAB))   &kp LA(TAB)   &kp LA(LS(TILDE))   &kp LA(TILDE)   &kp BSPC
                &ALTL      &kp LC(Z)   &kp LS(DEL)   &kp LC(INS)   &kp LS(INS)   &none             &none         &none               &kp INS         &kp RET

                            &to 0       &NUML                          &kp SPACE                    &to 0       &kp LEFT_SHIFT
            >;
        };
        

        sym_layer {
            bindings = <        
                                    &none                                                               &none
        		            &bt0            &bt1                    &bt BT_CLR              &bt2                &bt3

                &none   &none   &none   &sys_reset   &ext_power EP_TOG   &none        &none        &none        &none         &none
                &none   &none   &none   &none        &none               &none        &bl BL_INC   &none        &none         &none
                &to 0   &none   &none   &none        &none               &bl BL_TOG   &bl BL_DEC   &none        &bootloader   &none

                            &none       &to 0                           &out OUT_TOG                &to 0       &none
            >;
        };

    };
};
